#bodyWrapper{

}

#bodyWrapper h1{
    font-size: 45px;
    margin-bottom: 70px;
}




#tableWrapper {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

tr:nth-child(even) {
    background-color: #eae9f3;
}

tr:hover {background-color: #ddd;}

#newBoatBtn{
    font-size: 20px;
    background-color: #44acca;
}

#newBoatBtn:hover{
    background-color: #043a39;
}

.racesBtn{
    background-color: #f18043 ;
}

.editBtn{
    background-color: #44acca;
}