

/* baggrunden af popupen*/
dialog::backdrop {
    background: black;
    opacity: 0.8;
}

dialog{
    border-radius: 10px;
    background-color: white;
    width: 40%;
    height: 40%;
}

.popUpWrapper{
    margin: auto;
    padding: 50px;
    width: 400px;
    height: 300px;

}

.popUpWrapper button{
    margin-top: 20px;
}