<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/frontpage.css">


</head>
<body>

<header>
    <div class="wrapper">
        <!-- navbar indholdet ligger i JS filen -->
    </div>
</header>

<div id="bgIMGwrapper">
    <img src="https://cdn.discordapp.com/attachments/989739733993263114/1114589422437027871/Busbus_one_sailboat_on_sea_ultra_photorealistic_c1a19394-1503-4326-a428-dfd152a32d79.png">

</div>

<div id="bodyWrapper">
  KLIK PÅ NAVBAREN!
</div>


<script src="../JS/navbar.js"></script>
<script src="../JS/frontpage.js" type="module"></script>

</body>
</html>