<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/frontpage.css">



</head>
<body>

<header>
    <div class="wrapper">
        <!-- navbar indholdet ligger i JS filen -->
    </div>
</header>

<div id="bgIMGwrapper">
    <img src="https://media.discordapp.net/attachments/989739733993263114/1114587667930292244/Busbus_sailboats_on_sea_sail_boat_racing_club_ultra_photorealis_5f746b29-9b60-40f0-a476-7d00d5acddf5.png?width=1842&height=1052">
</div>

<div id="bodyWrapper">

    <div id="frontBox">

        <h1>Stævn ud mod nye horisonter</h1>

        <div id="upcomingRaceDiv">

        </div>

    </div>


</div>


<script src="../JS/navbar.js"></script>
<script src="../JS/frontpage.js" type="module"></script>

</body>
</html>