<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oversigt</title>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/seasonOverview.css">

</head>
<body>
<header>
    <div class="wrapper">
        <!-- navbar indholdet ligger i JS filen -->
    </div>
</header>


<div id="bodyWrapper">

    <h1>Samlet oversigt over sæsonens resultater</h1>
    <p> Perioden 1 maj - 1 oktober 2023</p>

    <div id="overviewWrapper">

        <div class="container" id="above40">
            Længere end 40 fod
            <span></span>
            points

        </div>
        <div class="container" id="under25">
            Mindre end 25 fod
            <span></span>
            points
        </div>
        <div class="container" id="between25-40">
            25-40 fod
            <span></span>
            points
        </div>

    </div>

</div>


<script src="../JS/navbar.js"></script>
<script src="../JS/seasonOverview.js" type="module"></script>

</body>
</html>