<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/SingleRace.css">
    <link rel="stylesheet" href="../static/popupBoat.css">
</head>
<body>
<header>
    <div class="wrapper">

        <!-- navbar indholdet ligger i JS filen -->
    </div>
</header>


<div id="bodyWrapper">
    <h1>Deltagerliste</h1>

    <span>Kapsejlads:</span>
    <h2 id="title"></h2>

    <div id="newRaceWrapper2">

        <label id="label1" for="sailboats">Tilføj deltager</label><br><br>
        <select id="sailboats" name="sailboat">

        </select>
        <button id="addBoat" type="submit">Tilføj</button>
    </div>

    <dialog>
        <div class="popUpWrapper popUpWrapper2">

            <h3 id="boatName"></h3>

            <label for="completed">
                <input type="checkbox" id="completed" placeholder="">fuldført
            </label><br>

            <div id="otherCheckboxesWrapper">

            </div>

            <div id="popupInputWrapper">

            </div>

            <button id="submitResult"> gem</button>

            <button id="closeBtn" class="close">
                Luk
            </button>

        </div>

    </dialog>


    <div id="tableContainer">
        <table id="tableWrapper">
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Placering</th>
                <th>Point</th>
                <th>Tilføj resultat</th>
                <th>Slet</th>

            </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>

</div>

<div id="footerContainer">
    <!-- footer indholdet ligger også i JS filen navbar+footer-->
</div>

<script src="../JS/navbar.js"></script>
<script src="../JS/Races/SingleRace.js" type="module"></script>


</body>
</html>